*:not(input):not(textarea) {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'robotoregular', Arial, Verdana, sans-serif;
}
h1,h2,h4,h5,h6,strong,b {
    font-family: 'robotobold';
    font-weight: normal;
}
em,i {
    font-family: 'robotoitalic';
    font-style: normal;
}
#container {
    margin: 0 auto;
    width: 100%;
    background: #fff;
}
header {
    background: #fff;
}
header h1 {
    margin: 0;
}
#logo {
    padding: 20px;
}
#navigation {
    float: left;
    width: 100%;
    background: #333;
}
#navigation ul {
    margin: 0;
    padding: 0;
}
#navigation ul  {
    list-style-type: none;
    display: inline;
}
#navigation a {
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}
#navigation  a:hover {
    background: #c00;
}


#content {
    float: left;
    width: 60%;
    padding: 20px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    border-width: 0 1px 0 1px;
    border-color: #ccc;
    border-style: solid;
}
#content h2 {
    margin: 0;
}

label, input {
            display: inline-block;
            vertical-align: middle;
            width: 200px;
            text-align: center;
            color: black;

        }
 label {
            color: black;
            font-size: 15px;
            width: 150px;
            font-weight:bold;
            padding: 3%;

        }